<div>
    <a href="{{ path ('home_parents') }}"> - Accueil - </a>
</div>
{% for menu in menus %}
<div>
    <h1>{{ menu.title }}</h1>
    <p>{{ menu.content }}</p>
    <div>
        <a href="{{ path ('menu', {'id':menu.id}) }}"> - Voir le menu - </a>
    </div>
    {% endfor %}
</div>
