<div>
    <a href="{{ path ('admin_picture_insert') }}"> - Insérer une nouvelle photo - </a>
</div>
<div>
    <a href="{{ path ('admin_dashboard') }}"> - Accueil - </a>
</div>

{% for picture in pictures %}
<div>
    <p> {{ picture.description }}</p>
    <div>
        <a href="{{ path ('admin_picture_show', {'id':picture.id}) }}"> - Voir la photo - </a>
    </div>
    {% endfor %}
</div>
