{% for message in app.flashes('success') %}
    <div class="message">
        {{ message }}
    </div>
    <div>
        <a href="{{ path ('admin_pictures_list') }}"> - Revenir à la galerie photo - </a>
    </div>
{% endfor %}