{% for message in app.flashes('success') %}
    <div class="message">
        {{ message }}
    </div>
{% endfor %}

<div class="form">
    {{ form_start(formPicture) }}

    {{ form_end(formPicture) }}
</div>
<div>
    <a href="{{ path ('admin_pictures_list') }}"> - Revenir à la galerie photo - </a>
</div>