{% extends 'admin/base.html.twig' %}

{% block content %}

    <section class="topSection">
        <h1 class="title">ALLERGÈNES</h1>
        <div>
            <form action="{{ path('admin_allergen_search') }}" method="GET">
                <label>
                    <input class="searchBar" type="text" name="search" placeholder="RECHERCHER">
                </label>
                <button class="btnSearch" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </section>

    <section class="mainFlex">
    {% for allergen in allergens %}
        <div class="flex">
            <div>
                <p>{{ allergen.type }}</p>
            </div>
            <div>
                <a href="{{ path ('admin_allergen_show', {'id':allergen.id}) }}">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
        </div>
    {% endfor %}
    </section>

    <div class="path">
        <a href="{{ path ('admin_allergen_insert') }}"> - Insérer un nouveau type d'allergène - </a>
    </div>

{% endblock %}
