{% for message in app.flashes('success') %}
    <div class="message">
        {{ message }}
    </div>
{% endfor %}

<div class="form">
    {{ form_start(formAllergen) }}

    {{ form_end(formAllergen) }}
</div>
<div>
    <a href="{{ path ('admin_allergens_list') }}"> - Revenir à l'ensemble des allergènes - </a>
</div>