{% extends 'front/common/basePublic.html.twig' %}

{% block content %}

    <section class="contactPage">
        <div class="contactFormBis">
            <h1>Mot de passe oublié ? </h1>
            {{ form_start(emailForm) }}
            {{ form(emailForm) }}
            {{ form_end(emailForm) }}
        </div>
    </section>
{% endblock %}