{% extends 'front/common/basePublic.html.twig' %}

{% block content %}

<section class="mentionPage">
    <div class="resetForm">
    <h1>Réinitialisation du mot de passe</h1>
    <div class="reset">
    <h4>Veuillez saisir un nouveau Mot de Passe</h4>
        <div>
    <form method="post">
        <label for="inputPassword_first"></label>
        <input type="password" name="password" id="inputPassword_first" placeholder="Mot de passe" required>
        <input type="hidden" name="token" value="{{ token }}">
        <button type="submit" id="valider">
            Valider
        </button>
    </form>
        </div>
    </div>
    </div>
</section>

{% endblock %}