<form action="{{ path('admin_search_user') }}" method="GET">
    <input type="search" name="search">
    <input type="submit" value="Rechercher">
</form>
{% for user in users %}
    <div>
        <h1>{{ user.lastName }} {{ user.firstName }}</h1>
    </div>
    <div><a href="{{ path ('admin_user_show', {'id':user.id}) }}"> Détails </a></div>
{% endfor %}



