{% for message in app.flashes('success') %}
    <div class="message">
        {{ message }}
    </div>
{% endfor %}

<div class="form">
    {{ form_start(formUser) }}

    {{ form_end(formUser) }}
</div>
<div>
    <a href="{{ path ('admin_users_list') }}"> - Revenir à la liste des familles - </a>
</div>