{% extends 'front/common/baseParents.html.twig' %}

{% block content %}

    <section class="userSearchTool">
        <div>
            <h1>GALERIE</h1>
            <form action="{{ path('picture_search') }}" method="GET">
                <label>
                    <input class="searchBar" type="text" name="search" placeholder="RECHERCHER">
                </label>
                <button class="btnSearch" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </section>

    <section class="containerSectionDetails">
        <div class="alignPix">
            {% for picture in pictures %}
                <div class="inside wrap">
                    <div class="xLarge-6 large-6 medium-8 small-8">
                        <img src="{{ asset ('uploads/admin/gallery/') ~ picture.image }}"
                             alt="Galerie photo" class="img-fluid">
                    </div>
                    <p> {{ picture.description }}</p>
                    <div class="zoom">
                        <a href="{{ asset('uploads/admin/gallery/' ~ picture.image) }}" target="_blank">
                            <i class="fa fa-download"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
