<form action="{{ path('search_picture') }}" method="GET">
    <input type="search" name="search">
    <input type="submit" value="Rechercher">
</form>

{% for picture in pictures %}
<div>
    <div>
        <img src="{{ asset ('uploads/admin/gallery/') ~ picture.image}}" alt="">
    </div>
    <p> {{ picture.description }}</p>
    {% endfor %}
</div>