<h5>Vous avez recherché : {{ search }}</h5>

{% for picture in pictures %}
<div>
    <h1>{{ picture.description }}</h1>
    <div>
        <img src="{{ asset ('uploads/admin/gallery/') ~ picture.image }}" alt="">
    </div>
    {% endfor %}
</div>
<div>
    <a href="{{ path ('pictures') }}"> - Revenir à la galerie - </a>
</div>
