<div>
    <a href="{{ path ('home_parents') }}"> - Accueil - </a>
</div>
<form action="{{ path('picture_search') }}" method="GET">
    <input type="search" name="search">
    <input type="submit" value="Rechercher">
</form>


{% for picture in pictures %}
<div>
    <h4>{{ picture.description }}</h4>
    <img src="{{ asset ('uploads/admin/gallery/') ~ picture.image }}" alt="">
    {% endfor %}
</div>
