<section class="confirmMail">
    <div>
        <img src="{{ asset('uploads/admin/img/logo.png') }}" alt="Logo La Calinerie" class="img-fluid">
    </div>
    <h1>Activation de votre compte</h1>
    <p>
        Vous venez de demander la création de votre espace PARENTS.
        Afin que votre demande soit prise en compte, Merci de bien vouloir activer ce dernier
        par le biais du lien ci-dessous*.
    </p>
    <p>
        <a href="{{ absolute_url(path('activation', {'token': token})) }}"><b>J'active mon espace PARENTS</b></a>
    </p>

    <p>
        <em>* Une fois votre compte validé, et afin de procéder à la vérification de vos données et de rattacher votre/vos
        enfant(s) à votre compte PARENTS,
        L'accès à ce dernier sera effectif sous 48H</em>
    </p>
</section>