<h1>Activation de votre compte</h1>
<p>
    Vous venez de demander la création de votre espace PARENTS.
    Un mail d'activation de compte vient de vous être envoyé !
</p>
<div>
    <a href="{{ path('home') }}">Accueil</a>
</div>