<form action="{{ path('admin_child_search') }}" method="GET">
    <input type="search" name="search">
    <input type="submit" value="Rechercher">
</form>
<section>
    <div>
        <h1>Liste des enfants inscrits</h1>

        {% for children in children %}
        <div>
            <p>
            <h1>{{ children.firstName }} {{ children.lastName }}</h1>

            {% endfor %}
        </div>
    </div>
</section>