{% extends 'admin/common/base.html.twig' %}

{% block content %}

    <section class="containerInsert">
        <div class="singleCatInsert medium-10 small-12">
            <div class="details">
                <div class="delete">
                    {# Pour chaque suppression de fiche enfant, je renvoie le message suivant : #}
                    <h1> La fiche enfant de <em><b>{{ child.firstName }}</b></em> a bien été supprimée ! </h1>
                </div>
                <div class="action">
                    <a href="{{ path ('admin_children_list') }}">
                        <i class="fa fa-reply"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}