<h5>Vous avez recherché : {{ search }}</h5>

<div>
    {% for children in children %}
    <div>
        <p>
        <h1>{{ children.firstName }} {{ children.lastName }}</h1>

        <div><a href="{{ path ('admin_child_show', {'id':children.id}) }}"> - Details - </a></div>
        {% endfor %}
    </div>
</div>