{% for message in app.flashes('success') %}
    <div class="message">
        {{ message }}
    </div>
    <div>
        <a href="{{ path ('admin_events_list') }}"> - Revenir à l'ensemble des évènements - </a>
    </div>
{% endfor %}