{% extends 'front/common/basePublic.html.twig' %}

{% block content %}

    <section class="mentionPage">
        <h1>MENTIONS LEGALES</h1>

        <div class="mentionText">
            <p>
                <b>Les présentes conditions d’utilisation ont pour objet de vous informer sur les conditions <br>
                dans lesquelles vous pouvez accéder au site et, le cas échéant, utiliser les données y figurant.</b>
            </p>
        </div>
        <div class="mentionText">
            <h2>Responsable de La Publication</h2>
            <p>
                <b>Ce site est édité par :</b> <br>
                L’association SAGE (Service Associatif de Garde d’Enfants) <br>
                Siège social : 51 rue Roger Lejard | 33130 Bègles <br>
                Téléphone : 05 56 49 24 14 <br>
                N° SIRET : 333 582 500 000 34 <br>
                Code NAF : 8891 A <br>
                Représentée par Laurianne Gervaise, agissant en qualité de Présidente.
            </p>
        </div>

        <div class="mentionText">
            <h2>Données Personnelles</h2>
            <p>
                Données personnelles
                Les informations recueillies sur le formulaire de contact sont collectées par <em>la Calinerie</em> <br>
                pour pouvoir traiter votre demande de contact uniquement. Elles ne seront pas utilisées
                à des fins commerciales.<br>
                En aucun cas, les données recueillies ne seront cédées ou vendues à des tiers. <br>
                Aucune adresse mail ne sera transmise à des tiers sauf avec l’accord express des intéressés. <br>
                Conformément aux articles 38 et 40 de la loi 2004-801 du 06/08/2004, vous disposez d’un droit d’accès,<br>
                de rectification, de suppression des données vous concernant. <br>
                <b>Ce droit peut s’exercer en ligne en nous adressant un mail.</b>
            </p>
        </div>

        <div class="mentionText">
            <h2>Crédits Photos</h2>
            <p>
                <i class="fa fa-copyright"></i>
                La Calinerie
            </p>
            <p>
                <i class="fa fa-copyright"></i>
                Pexels
            </p>
            <p>
                <i class="fa fa-copyright"></i>
                Freepik
            </p>
        </div>

    </section>

{% endblock %}