.searchBar {
  @include searchBar($grey)
}

.btnSearch {
  @include searchBtn($darkPink)
}

.title-search {
  display: flex;
  justify-content: space-between;
  margin-left: 18%;
  padding: 0 30px;
  margin-top: 35px;

  h1 {
    color: $darkGrey;
    font-size: 30px;
  }
}

.path {
  text-align: center;
  margin-left: 20%;
  font-size: 20px;
  justify-content: space-between;
  padding: 15px 0;
  border: 1px solid $darkGrey;

  a {
    color: $darkGrey;
  }

  &:hover {
    font-weight: bold;
    background: $darkGrey;

    a {
      color: white;
    }
  }
}

.singleCat {
  justify-content: space-between;
  margin-left: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
  height: auto;
  background-color: white;
}

.singleCatContent {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px;
}

.return .fa-reply {
  @include icon($darkGrey);
  font-size: 40px;
  margin-bottom: 20px;
}

