header  {
  position: relative;
}
.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $lightGrey;
  height: 10vh;
  font-size: 20px;
  padding: 0;
  margin-left: 18%;
  border-bottom: 2px solid white;
}

.welcome p {
  font-size: 30px;
  font-weight: bold;
  color: $darkGrey;
  margin-left: 1%;
}

.logout a {
  font-size: 18px;
  color: $darkGrey;
  margin-right: 40px;
  transition: transform 0.3s;
}

.logout:hover {
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 18%;
  height: 100vh;
  font-size: 20px;
  background-color: white;
}

.imgMenu {
  width: 50%;
  margin-left: 25%;
  padding: 10px 0 10px 0;
}

.menu span {
  margin-left: 22%;
  color: $grey;
}
.menu ul {
  margin-top: 100px;
}

.menu li {
  text-align: center;
  padding: 25px 0 25px 0;
}

.menu a {
  color: $darkGrey;
}

.select:hover {
  background-color: $lightGrey;
  font-weight: bold;
}

.firstBox, .secondBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 18%;
  text-align: center;
  margin-bottom: 50px;
}

.smallBox {
  margin: 70px 0 100px 0;
  width: 20%;
  height: 80px;
  line-height: 80px;
  background-color: white;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  border-radius: 6px;
}

.smallBox a {
  font-size: 22px;
  color: $darkGrey;
}

.select2:hover {
  color: white;
  background-color: $grey;
  font-weight: bold;
}

.select2:hover a {
  color: white;
}

.bigBox {
  width: 40%;
  height: 225px;
  background-color: white;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
}

.lastRegister {
  text-align: center;
  font-size: 22px;
  color: white;
  background-color: $grey;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
}

.bigBox a {
  font-size: 16px;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding:  10px 25px 0;
  margin: 0;
  color: $darkGrey;
}

.fa-eye {
  @include icon ($grey)
}



