/*DASHBOARD DESKTOP*/
.dashboardDesk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 18%;
  border-bottom: 2px solid white;

  p {
    font-size: 30px;
    font-weight: bold;
    color: $darkGrey;
    margin-left: 20px;
    padding: 20px 0;
  }
}

.logout a {
  font-size: 18px;
  color: $darkGrey;
  margin-right: 20px;
  transition: transform 0.3s;

  &:hover {
    font-weight: bold;
  }
}


/*DASHBOARD RESPONSIVE*/
.dashboardResp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0;
}

.hello, .welcome {
  color: $darkGrey;
  text-align: center;
  margin-top: 20px;
}

.hello {
  font-size: 20px;
  font-style: italic;
}

.welcome {
  font-size: 25px;
  font-weight: bold;
}

/*BURGER MENU RESPONSIVE*/
.textLogo {
  margin-bottom: 10px;
  text-align: center;
  font-size: 45px;
}

.fa-navicon, .fa-times {
  @include icon($darkGrey) ;
  font-size: 45px;
}

.fa-times {
  font-size: 35px;
}

.drop-down {
  padding-top: 50px;
  position: absolute;
  width: 100%;
  height: auto;
  background: white;
  top: -100%;
  transition: top 0.4s ease-in-out;
  box-shadow: 0 0 10px 2px #000;

  li {
    height: 50px;
    line-height: 50px;
    text-align: center;

    &:nth-child(1) {
      border-top: 0;
    }

    &:nth-child(4) {
      border-bottom: 0;
    }

    &:hover {
      background: lightgrey;
      font-weight: bold;
    }
  }

  a {
    display: block;
    font-size: 18pt;
    color: $darkGrey;
    text-decoration: none;
  }

  .logoutResp {
    background-color: $darkGrey;
    color: white;
  }

  .mainDashboardCat {
    a {
    color: $darkPink;
      font-weight: bold;
    }
    &:hover {
      background: $darkPink;
      font-weight: bold;

      a {
        color: white;
      }
    }
  }

}

.down {
  top: 0;
  transition: top 0.4s ease-in-out;
}

.menuResp {
  box-sizing: content-box !important;
  position: fixed;
  top: 5px;
  right: 5px;
  width: 80px;
  height: 80px;
  text-align: center;
  justify-content: center;
  z-index: 999;

  a {
    display: block;
    font-size: 50pt;
    color: $darkGrey;
    margin: 0 auto;

  }

  .close {
    display: none;
  }

}

.trigger {
  animation: menuResp-spin-back 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

.round {

  animation: menuResp-spin 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

@-webkit-keyframes menuResp-spin {
  50% {
    border-radius: 100%;

  }
  100% {
    border-radius: 100%;

    transform: rotate(180deg);
  }
}

@-webkit-keyframes menuResp-spin-back {
  50% {
    border-radius: 0;

  }
  100% {
    border-radius: 0;
    transform: rotate(-180deg);
  }
}

.white {
  border-color: #fff;
  color: #fff !important;
}

/*MENU DESKTOP*/
.menuDesk {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 18%;
  height: 100vh;
  font-size: 20px;
  background-color: white;
}

.imgMenu {
  width: 50%;
  margin-left: 25%;
  padding: 10px 0 10px 0;
}

.menuDesk {
  span {
    margin-left: 22%;
    color: $grey;
  }

  ul {
    margin-top: 100px;
  }

  li {
    text-align: center;
    padding: 25px 0 25px 0;
  }

  a {
    color: $darkGrey;
  }
}

.select:hover {
  background-color: $lightGrey;
  font-weight: bold;
}

.mainCatBox, .resumeBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 18%;
  text-align: center;
  margin-bottom: 50px;
}

.mainCat {
  margin: 70px 0 100px 0;
  width: 225px;
  height: 80px;
  line-height: 80px;
  background-color: white;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);

  a {
    font-size: 22px;
    color: $darkGrey;
  }
}

.selectCat:hover {
  color: white;
  background-color: $grey;
  font-weight: bold;

  a {
    color: white;
  }
}

.resumeBoxDetails {
  width: 40%;
  height: 225px;
  background-color: white;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);

  a {
    font-size: 16px;
    margin: 0;
  }
}

.lastRegister {
  text-align: center;
  font-size: 22px;
  color: white;
  background-color: $grey;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px 0;
  margin: 0;
  color: $darkGrey;
}

.fa-eye {
  @include icon($grey)
}



