/*LOGIN*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 35px;
    color: $darkPink;
    padding: 20px;
  }

  h3 {
    color: $darkGrey;
    margin-bottom: 25px;
  }

  label {
    margin-bottom: 5px;
  }

  input {
    margin-bottom: 5px;
    width: 200px;
  }
}

.btnLogin button {
  background-color: $darkGrey;
  font-family: $mainFont;
  margin-top: 10px;
  border: none;
  outline: none;
  width: 130px;
  height: 40px;
  line-height: 20px;
  font-size: 16px;
  border-radius: 65px;
  color: white;

  &:hover {
    background-color: $darkPink;
    font-weight: bold;
  }
}



