/*GLOBAL CSS*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $lightGrey;
  font-family: $mainFont
}

.img-fluid {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}


h1, h3, p {
  margin: 0;
}

.textLogo, #t1, #t2, #t3 {
  font-family: $logoText;
  font-weight: bold;
  color: $grey;
  #t1 {
    color: $blue;
  }

  #t2 {
    color: $pink;
  }

  #t3 {
    color: $green;
  }
}

.logoResp {
  margin: 10px 15px;
  width: 10%;
}



