@mixin searchBar ($grey) {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $grey;
  width: 235px;
  height: 25px;
  font-size: 16px;
  outline: none;
}

@mixin searchBtn ($darkPink) {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 22px;
  color: $darkPink;
}

@mixin icon ($grey) {
  font-size: 18px;
  color: $grey;
}

@mixin flash ($darkgrey) {
  width: 100%;
  background-color: $darkGrey;
  height: 50px;
  line-height: 50px;
  color: white;
  font-size: 22px;
  text-align: center;
  margin-top: 25px;
  margin-left: 18%;
  padding-left: 55px;
}
